<div class="container">
    <div class="row mt-2">
        <div class="col-12">
            <div id="carouselExampleInterval" class="carousel slide carousel slide fixed-size-carousel" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="2500">
                    <img src="../../../assets/baner_caerne.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2500">
                    <img src="../../../assets/baner_pan.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2500">
                    <img src="../../../assets/baner_verduras.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
