<div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Productos del negocio</h2>
        <table class="table table-bordered table-responsive">
          <thead>
            <tr>
              <th>Producto</th>
              <th>Precio</th>
              <th>Descripción</th>
              <th>Disponibilidad</th>
            </tr>
          </thead>
          <tbody>
            <tr *NgFor="let producto of productos; let i = index">
              <td>{{ producto.nombre }}</td>
              <td>{{ producto.precio }}</td>
              <td>{{ producto.descripcion }}</td>
              <td>{{ producto.disponibilidad ? 'Disponible' : 'No disponible' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  