<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="card">
        <img src="../../../assets/adidas01.jpeg" class="img-fixed-size" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">Calzado "El viejo Amaya"</h5>
          <ul class="list-group list-group-flush ">
            <li class="list-group-item">Zapatillas</li>
            <li class="list-group-item">Buzos</li>
            <li class="list-group-item">Mochilas</li>
          </ul>
          <button type="button" routerLink="/productos" class="btn btn-primary ">Ir a la tienda</button>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <img src="../../../assets/loca_pan.jpg" class="img-fixed-size" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">Las Exquisiteces de Joakoko</h5>
          <ul class="list-group list-group-flush ">
            <li class="list-group-item">coconut cookies</li>
            <li class="list-group-item">coconut milk</li>
            <li class="list-group-item">coconut</li>
          </ul>
          <button type="button" routerLink="/productos" class="btn btn-primary">Ir a la tienda</button>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <img src="../../../assets/gato.jpg" class="img-fixed-size" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">El gato feliz</h5>
          <ul class="list-group list-group-flush ">
            <li class="list-group-item">Veterinaria</li>
            <li class="list-group-item">Adopciones</li>
            <li class="list-group-item">Peluqueria</li>
          </ul>
          <button type="button" routerLink="/productos" class="btn btn-primary">Ir a la tienda</button>
        </div>
      </div>
    </div>
  </div>
</div>