<div class="container">
    <div class="row align-items-start">
        <div class="col-9 mt-2">
            <form class="d-flex h-100" role="search">
                <input class="form-control me-2" type="search"
                    placeholder="Mate y café, harina palmitos, Yerba mermeladas, cacao picadillo, Paté y caballa, arroz y arvejas, Sardinas atún, choclo y lentejaaaaaaas."
                    aria-label="Search">
                <button class="btn btn-success" type="submit">Search</button>
            </form>
        </div>
        <div class="col-3 mt-2">
            <form class="d-flex h-100" role="search">
                <!-- Dropdown para seleccionar la ubicación -->
                <select class="form-select me-2" aria-label="Selecciona la ubicación">
                    <option selected>Selecciona una ubicación</option>
                    <option value="1">Ituzaingo</option>
                    <option value="2">Moreno</option>
                    <option value="3">San Telmo</option>
                </select>
            </form>
        </div>
    </div>
</div>